body {
  margin: 0;
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.container {
  width: 1100px;
  margin: 0 auto;
}


header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  top: 0;
  z-index: 100;
}
.wyscout-logo {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 24px;
  margin-top: 5px;
  background-image: url(../img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat
}


.hero {
  margin-top: 60px;
  background-color: #1B5379;
  position: relative;
  .hero-content {
    position: relative;
    z-index: 2;
    padding: 120px 0;
    padding-bottom: 60px;
  }
  h1, h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}
.players-cover {
  width: 100%;
  height: 100%;
  background-image: url(../img/cover1.jpg);
  background-repeat: repeat;
  opacity: .12;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.join-beta {
  text-align: center;
  margin: 0;
  margin-top: 60px;
  .join-beta-email {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    -webkit-appearance: none;
    outline: none;
  }
  .join-beta-submit {
    height: 40px;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #719430;
    color: #fff;
    border: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: #63822a;
    }
  }
}

.screenshots {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #fcfcfc;
}

.feature {
  display: flex;
  align-items: center;
  padding: 30px 0;
  .illustration {
    width: 66.6%;
  }
  .description {
    width: 33.3%;
    padding: 30px 10px;
    text-align: center;
    h3 {
      margin: 0;
      font-size: 22px;
      line-height: 25px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      margin: 0;
      font-weight: 300;
    }
  }
}

section.advanced-parameters {
  border-top: 1px solid #e6e6e6;
  .field {
    width: 450px;
    height: 292px;
    margin: 0 auto;
    background-image: url(../img/field-scheme.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
  }
  .position {
    width: 22px;
    height: 22px;
    background-color: #27AAE1;
    box-shadow: 0 0 0 2px rgba(39, 170, 225, 0.3);
    border-radius: 50%;
    position: absolute;
    margin-top: -11px;

    &.position-GK {
      top: 50%;
      left: 2%;
    }

    &.position-LB {
      top: 13%;
      left: 15%;
    }
    &.position-RB {
      top: 87%;
      left: 15%;
    }
    &.position-LCB {
      top: 35%;
      left: 15%;
    }
    &.position-RCB {
      top: 65%;
      left: 15%;
    }

    &.position-LM {
      top: 13%;
      left: 50%;
    }
    &.position-RM {
      top: 87%;
      left: 50%;
    }
    &.position-LCM {
      top: 35%;
      left: 40%;
    }
    &.position-RCM {
      top: 65%;
      left: 40%;
    }

    &.position-CAM {
      top: 60%;
      left: 65%;
    }
    &.position-ST {
      top: 40%;
      left: 75%;
    }
  }
}

section.indexes {
  border-top: 1px solid #e6e6e6;
  background-color: #fcfcfc;
}

section.money {
  border-top: 1px solid #e6e6e6;
  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 15px;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin-right: 20px;
      margin-top: -4px;
      background-color: #27AAE1;
      box-shadow: 0 0 0 2px rgba(39, 170, 225, 0.3);
      border-radius: 50%;
    }
  }
}

.call-to-action {
  padding: 60px 0;
  text-align: center;
  background-color: #1B5379;
  position: relative;
  .players-cover {
    background-position: center;
  }
  .join-beta {
    margin: 0;
    position: relative;
    z-index: 2;
  }
  .join-beta-email {
    width: 320px;
    height: 50px;
    padding: 20px;
  }
  .join-beta-submit {
    height: 50px;
    padding: 0 30px;
    margin-left: 20px;
  }
}

footer {
  background-color: #333;
  padding: 15px 0;
  address {
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    font-style: normal;
  }
}
